/* CSS HEX 
--blue-jeans: #00B1FFff;
--tuscan-red: #7A4F58ff;
--jonquil: #FFCD02ff;
--kobe: #782900ff;
--black-coral: #63687Eff;
*/


body{
  background-color:#63687Eff;
}


.navbar-custom{
  font-size: 2rem;
  background-color: #7A4F58ff;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color:black;
  text-align: left;
}

h2 {
  font-size: 24px;
}

nav a {
  color: whitesmoke;
}

/* Selecting elements by class */

.viz {
  background-image: url('images/DSCN1671.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed ;
  background-size: 100% 100%;
}
.comp{
  background-color: silver;
}

.comp-h{
  padding:0px;
  margin-bottom: 5px;
}

/* Selecting elements by ID */
#main-bio,
#bio-image {
  float: left;
}

#main-bio {
  padding: 20px;
  margin: 20px;
  background-color:   cadetblue;
}

#main-viz {
  padding:15px;
  margin:5px;
  background: rgba(0,0,0,0.3);
  border: 1px solid black;
}

#main-viz p {
  margin: 5%;
  font-weight: bold;
  color: white;
  opacity:1;
}

#viz-image {
  width:100%;
  background: rgba(255,255,255, 0.5);
  border: 2px solid black;
}

#main-viz h1{
  color: white;
}

#main-viz h2{
  color:white;
}


#bio-image {
  width: 30rem;
}

#comp-image{
    width: 100%;
    border-style:solid;
    border-color: black;
    box-shadow: 10px 10px 8px #7A4F58ff;
    background-color: cadetblue;
}

#aside-image {
  width: 15rem;
  margin-right: 10px;
}

#footer {
    position:fixed;
    color:#00B1FFff;
    bottom:0;
    width: 100%;
    height:30px;   
    background-color: #7A4F58ff;
    text-align: center;
 }

 #comp-footer {
  color:#00B1FFff;
  bottom:0;
  width: 100%;
  height:30px;   
  background-color: #7A4F58ff;
  text-align: center;
}

 @media (max-width: 860px) {
  #footer{
    position:relative;
    height:50px;
  }

  #main-bio {
    padding: 5px;
    margin:5px;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  #bio-image {
    width: 20rem;
  }
  
  h2 {
    text-align: center;
  }
 }